<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="user">
                <div class="user__avatar">
                    <img tabindex="1" id="avatar" src="images/users/{{user.image}}" alt="">
                    <div class="user__nav">
                        <div class="nav__inner">
                            <div class="signedAs">
                                <p>Signed in as</p>
                                <p>{{user.email}}</p>
                            </div>
                            <div class="profile">
                                <a tabindex="2" href="#" class="sideBar__open">My Profile</a>
                            </div>
                            <div class="logOut">
                                <a tabindex="3" href="#" ng-click="logout()">Log Out</a>
                            </div>  
                        </div>          
                    </div>
                </div>
                <div class="search">
                    <form>
                        <input id="search__input" class="search__input" autocomplete="off" type="text" placeholder="Поиск...">
                        <button class="search__button" ng-click="search()" type="submit"></button>
                    </form> 
                    <div id="search__field">
                        <ul class="list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="logo"></div>
        </div>
    </div>
</header>
<div class="sideBar"> 
        <div class="sideBar__inner">
            <div class="sideBar__close">
                <a href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="sideBar__user">
                <div class="user__img">
                    <img src="images/users/{{user.image}}" ng-model="user.image" alt="Аватарка">
                    <div class="img__change">
                        <label for="uploadAvatar">
                            edit  <i class="fas fa-pen"></i>
                            <input type="file" id="uploadAvatar" accept=".jpg, .jpeg, .png" fileread="user.image">
                        </label>
                    </div>
                </div>     
                <p>{{user.surname + " " + user.name}}</p>
                <p ng-click="log()">[{{user.post}}]</p>
            </div>
            <div class="sideBar__user__edit" id="edit" ng-click="editForm(user)">
                <a href="#"><i class="far fa-edit"></i></a>
            </div>
            <ul class="sideBar__links" unselectable="on" onselectstart="return false;">
                <li>
                    <p><i class="fas fa-envelope clip"  title="Нажмите 2 раза для копирования"  data-clipboard-text="{{user.email}}"></i>
                        <input id="email" class="inputs"  ng-model="user.email" type="text" readonly></p>
                </li>
                <li>
                    <p><i class="fas fa-phone-alt clip"  title="Нажмите 2 раза для копирования"  data-clipboard-text="{{user.phone}}"></i>
                        <input id="phone" class="inputs"  ng-model="user.phone" type="text" readonly></p>
                </li>
                <li>
                    <p><i class="fas fa-comments clip"  title="Нажмите 2 раза для копирования"  data-clipboard-text="{{user.social}}"></i>
                        <input id="social" class="inputs" ng-model="user.social" type="text" readonly></p>
                </li>
                <li>
                    <p>
                        <i id="stat" class="fas fa-question"></i>   
                        <select id="statusSelect" ng-model="status" ng-options="s.name for s in statuses"></select>
                    </p>
                </li>
            </ul>                
        </div>      
</div>

<div id="uploadimageModal" class="cropImage">
    <div class="crop__item">
        <div class="crop__header">
            <!-- <h4 class="">Crop menu</h4> -->
          </div>
          <div class="crop__field">
               <div class="">
                   <div class="">
                       <div id="image_demo"></div>
                   </div>
                   <div class="crop__uploadBtn">
                       <button class="crop_image">Upload</button>
                   </div>
               </div>
           </div>       
    </div>
</div>
   
<script>  
    $(document).ready(function(){
     $image_crop = $('#image_demo').croppie({
        enableExif: true,
        viewport: {
          width:200,
          height:200,
          type:'square' //circle
        },
        boundary:{
          width:300,
          height:300
        }
      });
    
      $('#uploadAvatar').on('change', function(){
        var reader = new FileReader();
        reader.onload = function (event) {
          $image_crop.croppie('bind', {
            url: event.target.result
          }).then(function(){
            console.log('jQuery bind complete');
          });
        }
        reader.readAsDataURL(this.files[0]);
        $('#uploadimageModal').show(300, "linear");
        $('#fade').show();
      });
    
      $('.crop_image').click(function(event){
        $image_crop.croppie('result', {
          type: 'canvas',
          size: 'viewport'
        }).then(function(response){
          $.ajax({
            url:"/includes/dataGetter.php",
            type: "POST",
            data:
            {
                "image": response,
                "id": JSON.parse(localStorage.user).id
            },
            success:function(data)
            {
              $('#uploadimageModal').hide(300, "linear");
              $('#fade').hide();
              $('#uploaded_image').html(data);
            }
          });
        })
      });
    });  
</script>

<div class="content">
    <div id="vector-map" dx-vector-map="vectorMapOptions"></div>
</div>

<div id="pashalka">
    <p>RIP <i class="fab fa-grav"></i></p>
    <div class="img">
        <img src="../images/users/1.jpg" alt="">
    </div>
    <p>Бронислав Зеновьев</p>
    <p>Програмист</p>
</div>

