<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="user">
                <div class="user__avatar">
                    <img tabindex="1" id="avatar" src="images/users/{{user.image}}" alt="">
                    <div class="user__nav">
                        <div class="nav__inner">
                            <div class="signedAs">
                                <p>Signed in as</p>
                                <p>{{user.email}}</p>
                            </div>
                            <div class="profile">
                                <a tabindex="2" href="#" class="sideBar__open">My Profile</a>
                            </div>
                            <div class="logOut">
                                <a tabindex="3" href="#" ng-click="logout()">Log Out</a>
                            </div>  
                        </div>          
                    </div>
                </div>
                <div class="search">
                    <form>
                        <input id="search__input" class="search__input" type="text" placeholder="Поиск...">
                        <button class="search__button" type="submit"></button>
                    </form> 
                    <div id="search__field" class="">
                        <ul>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                        </ul>
                    </div>   
                </div>
            </div>
            <div class="logo"></div>
        </div>
    </div>
</header>
<div class="sideBar"> 
        <div class="sideBar__inner">
            <div class="sideBar__close">
                <a href="#"><i class="fas fa-times"></i></a>
            </div>
            <div class="sideBar__user">
                <div class="user__img">
                    <img src="images/users/{{user.image}}" alt="Аватарка">
                    <div class="img__change">
                        <label for="uploadAvatar">
                            edit  <i class="fas fa-pen"></i>
                        </label>
                        <iframe name="frame" style="display: none;"></iframe>
                        <form id="upload" action="../includes/move.php" method="post" enctype="multipart/form-data" target="frame">
                            <input type="file" name="avatar" id="uploadAvatar" accept=".jpg, .jpeg, .png" onchange="form.submit()">
                            <input type="text" name="user" value="{{user.id}}" />
                        </form>
                    </div>
                </div>     
                <p>{{user.surname + " " + user.name}}</p>
                <p>[{{user.post}}]</p>
            </div>
            <div class="sideBar__user__edit" id="edit" ng-click="editForm(user)">
                <a href="#"><i class="far fa-edit"></i></a>
            </div>
            <ul class="sideBar__links" unselectable="on" onselectstart="return false;">
                <li>
                    <p><i class="fas fa-envelope"  title="Нажмите 2 раза для копирования" onclick='toClipboard(this)' data-clipboard-text="{{user.email}}"></i>
                        <input id="email" class="inputs"  ng-model="user.email" type="text" readonly></p>
                </li>
                <li>
                    <p><i class="fas fa-phone-alt"  title="Нажмите 2 раза для копирования" onclick='toClipboard(this)' data-clipboard-text="{{user.phone}}"></i>
                        <input id="phone" class="inputs"  ng-model="user.phone" type="text" readonly></p>
                </li>
                <li>
                    <p><i class="fas fa-comments"  title="Нажмите 2 раза для копирования" onclick='toClipboard(this)' data-clipboard-text="{{user.social}}"></i>
                        <input id="social" class="inputs" ng-model="user.social" type="text" readonly></p>
                </li>
                <li>
                    <p>
                        <i id="stat" class="fas fa-question"></i>   
                        <select id="statusSelect" ng-model="status" ng-options="s.name for s in statuses"></select>
                    </p>
                </li>
            </ul>                    
        </div>      
</div>
<div class="content">
    <div id="vector-map" dx-vector-map="vectorMapOptions"></div>
</div>

<div id="pashalka">
    <p>RIP <i class="fab fa-grav"></i></p>
    <div class="img">
        <img src="../images/users/1.jpg" alt="">
    </div>
    <p>Бронислав Зеновьев</p>
    <p>Програмист</p>
</div>

