<form id="signForm" action="">
    <div class="block">
        <h1>Sign In</h1>
    </div>
    <div class="block">
        <div class="icon">
            <img src="images/sign/login.png" alt="">
        </div>
        <input type="text" placeholder="Username" class="login" name="email" ng-model="email">
    </div>
    <div class="block">
        <div class="icon">
            <img src="images/sign/pass.png" alt="">
        </div>
        <input type="password" placeholder="Password" class="login" name="password" ng-model="password" >
    </div>
    <input type="button" value="Sign in" ng-click="submit(email, password)">
</form>