/*Colors*/
/*LogoSrc*/
/*sizes*/
* * {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}
p {
  margin: 0;
}
/* Blocks */
/*Header*/
.header {
  display: flex;
  align-items: center;
  min-height: 9vh;
  background-color: #000000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}
@media (max-width: 768px) {
  .header {
    padding: 5rem;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*User*/
.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user__avatar {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  flex-basis: 1;
}
.user__avatar img {
  width: 60px;
  height: 60px;
}
/*User nav*/
.user__nav {
  z-index: 9999;
  display: none;
  background: transparent;
  color: #000000;
  line-height: 1.5;
  position: relative;
  padding-top: 1rem;
  width: 10rem;
}
.nav__inner {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.nav__inner a {
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  transition: 0.1s;
  font-size: 1.1rem;
}
.nav__inner a:hover {
  color: #000000 !important;
}
.nav__inner:before {
  content: '';
  border: 12px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -4rem;
  top: -8px;
  width: 0;
}
.signedAs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  margin-bottom: 0.5rem;
}
.signedAs p {
  font-weight: 700;
}
.signedAs p:last-child {
  font-weight: 400;
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
}
.profile {
  margin-bottom: 0.3rem;
}
/*Logo*/
.logo {
  background-image: url(/images/logo.png);
  background-size: cover;
  width: 12rem;
  height: 5rem;
}
@media (max-width: 992px) {
  .logo {
    display: none;
  }
}
/*Search*/
.search {
  position: relative;
  width: 100%;
  margin-left: 2rem;
}
.search form {
  display: inline-block;
  position: relative;
}
@media (max-width: 650px) {
  .search {
    width: 75%;
  }
}
.search__input {
  width: 30rem;
  height: 2.8rem;
  padding-left: 1rem;
  border: 3px solid #fff;
  border-radius: 4px;
  color: #fff;
  transition: 0.2s ease;
}
.search__input:focus {
  color: #000000;
  background: #fff;
  width: 40rem;
}
.search__input,
.search__button {
  outline: none;
  background: transparent;
}
.search__button {
  border: none;
  height: 2.8rem;
  width: 2.8rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search__button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 1.2rem;
  color: #fff;
  mix-blend-mode: difference;
}
#search__field {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000000;
  border-radius: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-top: 0.4em;
  padding: 5px;
}
.search__field--active {
  display: block;
}
.container {
  width: 100%;
  max-width: inherit;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 768px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
/*For slide content*/
.content {
  transition: 0.5s ease-in;
  position: relative;
  z-index: 0;
}
@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#vector-map {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}
.popUp {
  font-size: 0.9rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: 1px #000000 solid;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-weight: bold;
}
.status {
  text-align: center;
  font-weight: 600;
}
.sideBar__inner {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 1vh;
  position: absolute;
  left: 0;
  top: 9vh;
  z-index: 1;
  height: 91vh;
  width: 100%;
  max-width: 26.6rem;
  background: linear-gradient(to top, #787878, #fff);
  background-size: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}
.sideBar__inner::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.sideBar__inner::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
.sideBar__inner::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 650px) {
  .sideBar__inner {
    max-width: 100vw;
  }
}
/*Close*/
.sideBar__close {
  font-size: 125%;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 1.5%;
  padding-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.2s;
}
.sideBar__close:hover {
  color: #000000;
}
/*Avatar*/
.sideBar__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 120%;
  line-height: 1.2;
}
.sideBar__user .user__img {
  margin-bottom: 1rem;
  position: relative;
  border: 1px #000000 solid;
  width: 22vh;
  height: 22vh;
}
.sideBar__user .user__img img {
  width: 100%;
  height: 100%;
}
.sideBar__user .user__img .img__change {
  position: absolute;
  cursor: pointer;
  right: 0.5rem;
  bottom: 0rem;
  color: #fff;
  font-size: 0.9rem;
  width: 25%;
}
.sideBar__user .user__img .img__change label {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 5%;
  width: 100%;
  transition: all 0.2s;
}
.sideBar__user .user__img .img__change label:hover {
  background: rgba(0, 0, 0, 0.8);
}
.sideBar__user .user__img .img__change input {
  display: none;
}
.sideBar__user p {
  font-weight: 700;
  padding-bottom: 0.7rem;
}
.sideBar__user p:last-child {
  font-weight: 400;
  padding-bottom: 3rem;
}
/*Property*/
.sideBar__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2vw;
  list-style: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.sideBar__links li {
  opacity: 0;
  margin-bottom: 15%;
  font-size: 150%;
  user-select: none;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.sideBar__links li:last-child {
  margin-bottom: 0rem;
}
.sideBar__links li:last-child i {
  cursor: default;
  display: inline;
  position: relative;
}
.sideBar__links li:last-child select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
}
.sideBar__links li:hover {
  color: #000000;
}
.sideBar__links li p i {
  cursor: pointer;
  padding-right: 0.3rem;
}
.sideBar__links li p input {
  outline: none;
  background: transparent;
  display: inline-block;
  padding-bottom: 5px;
  width: 80%;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: default;
}
/*edit*/
.sideBar__user__edit {
  font-size: 150%;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.2s;
}
.sideBar__user__edit:hover {
  color: #000000;
}
.sideBar-active {
  transform: translateY(0%);
}
@keyframes sideBarLinksFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes sideBarLinksUnFade {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes sideBarLinksBorder {
  from {
    border-bottom-width: 0px;
  }
  to {
    border-bottom-width: 2px;
  }
}
@keyframes sideBarLinksUnBorder {
  from {
    border-bottom-width: 2px;
  }
  to {
    border-bottom-width: 0px;
  }
}
#fade {
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  width: 100vw;
  height: 100vh;
}
#pashalka {
  position: absolute;
  z-index: 9999;
  display: none;
  flex-direction: column;
  background-color: yellow;
  border: 2px solid black;
  padding: 1em 2em 2em;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#pashalka img {
  margin-bottom: 1em;
  margin-top: 0.8em;
  border: 1px solid black;
}
#pashalka p {
  font-weight: 700;
}
#pashalka p:last-child {
  font-weight: 400;
  margin-top: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
#pashalka p:first-child {
  font-size: 1.5rem;
}
@keyframes pas {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#signForm {
  display: flex;
  flex-direction: column;
  width: 35%;
  background: rgba(78, 78, 78, 0.1);
  padding: 1%;
  border: 2px solid #4E4E4E;
  border-radius: 4px;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  animation-name: fade;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}
@media (max-width: 992px) {
  #signForm {
    width: 100%;
  }
}
@media (max-width: 360px) {
  #signForm {
    padding: 6%;
  }
}
#signForm input[type="button"] {
  background: transparent;
  border: 1px solid #4E4E4E;
  border-radius: 4px;
  color: #4E4E4E;
  font-size: 2rem;
  padding: 2% 10%;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.1s;
}
#signForm input[type="button"]:hover {
  background: #4E4E4E;
  color: #fff;
  border: 1px solid #000000;
}
#signForm .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3%;
}
#signForm .block h1 {
  font-size: 2.8rem;
  margin: 0 auto;
  padding-bottom: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 1px solid #4E4E4E;
}
#signForm .block .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
#signForm .block .icon img {
  width: 110px;
}
@media (max-width: 768px) {
  #signForm .block .icon img {
    width: 90px;
  }
}
@media (max-width: 360px) {
  #signForm .block .icon img {
    display: none;
  }
}
#signForm .block .login {
  z-index: 5;
  width: 100%;
  height: 3rem;
  color: #000000;
  border: 2px solid #4E4E4E;
  border-radius: 4px;
  font-size: 1.2rem;
  padding-left: 90px;
  margin-left: -70px;
  background: transparent;
}
@media (max-width: 768px) {
  #signForm .block .login {
    margin-left: -60px;
  }
}
@media (max-width: 360px) {
  #signForm .block .login {
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
