@import "vars";

* * {
	margin: 0;
    padding: 0;	 
}

// ::-webkit-scrollbar { /* chrome based */
//     width: 0px;  /* ширина scrollbar'a */
//     background: transparent;  /* опционально */
// }

*,
*:before,
*:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html{
    font-size: 15px;
    overflow-y: hidden;
    overflow-x: hidden;

    // -ms-overflow-style: none;  /* IE 10+ */
    // scrollbar-width: none;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 0;
}

p{
    margin: 0;
}

/* Blocks */
@import "blocks/header";
@import "blocks/container";
@import "blocks/map";
@import "blocks/sideBar";
@import "blocks/sign";