* * {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    font-size: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
p {
    margin: 0;
}
.header {
    padding: 1rem 0;
    background-color: #000000;
    color: #fff;
    position: relative;
    z-index: 3;
}
@media (max-width:768px) {
    .header {
    padding: 5rem;
}
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user {
    display: flex;
    cursor: pointer;
}
.user__avatar {
    width: 57px;
    height: 57px;
}
.user__avatar img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}
.user__content {
    padding-left: 9px;
}
@media only screen and (max-width:768px) {
    .user__content {
    display: none;
}
}
.user__name {
    margin-bottom: 3px;
    font-size: 1.06rem;
    font-weight: 700;
    line-height: 1.2;
}
.user__prof {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.7);
}
.logo {
    background-image: url(/images/logo.png);
    background-size: cover;
    width: 12rem;
    height: 5rem;
}
@media (max-width:992px) {
    .logo {
    display: none;
}
}
.search {
    position: relative;
    width: 40rem;
}
@media (max-width:650px) {
    .search {
    width: 75%}
}
.search__input {
    width: 100%;
    height: 2.8rem;
    padding-left: 1rem;
    border: 3px solid #fff;
    border-radius: 4px;
    transition: background .2s ease;
}
.search__input:focus {
    background: #fff;
}
.search__input, .search__button {
    outline: none;
    background: transparent;
}
.search__button {
    border: none;
    height: 2.8rem;
    width: 2.8rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search__button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 1.2rem;
    color: #fff;
    mix-blend-mode: difference;
}
.container {
    width: 100%;
    max-width: inherit;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
@media (max-width:768px) {
    .container {
    padding-left: .5rem;
    padding-right: .5rem;
}
}
.content {
    transition: .5s ease-in;
}
.content-active {
    transform: translateX(26.6rem);
}
@media (max-width:992px) {
    .content-active {
    transform: translateX(100%);
}
}
@keyframes fadeIn {
    0% {
    transform: scale(0);
    opacity: 0;
}
100% {
    transform: scale(1);
    opacity: 1;
}
}
#vector-map {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    position: relative;
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    visibility: visible !important;
}
.popUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4464;
    font-weight: bold;
}
.sideBar__inner {
    display: flex;
    flex-direction: column;
    padding-top: 7.5rem;
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 26.6rem;
    min-width: 320px;
    background: linear-gradient(to top, #787878, #fff);
    background-size: 100%;
    transform: translateX(-100%);
    transition: transform .5s ease-in;
}
@media (max-width:992px) {
    .sideBar__inner {
    max-width: 100vh;
    padding-top: 6.6rem;
}
}
.sideBar__close {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
    padding-right: .5rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    transition: .2s;
}
.sideBar__close:hover {
    color: #000;
}
@media (max-width:768px) {
    .sideBar__close {
    display: none;
}
}
.sideBar__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
}
.sideBar__user img {
    padding-bottom: 1rem;
    width: 230px;
    height: 230px;
}
@media (max-width:768px) {
    .sideBar__user img {
    padding-bottom: .5rem;
    width: 180px;
    height: 180px;
}
}
@media (max-width:320px) {
    .sideBar__user img {
    width: 100px;
    height: 100px;
}
}
.sideBar__user p {
    font-weight: 700;
    padding-bottom: .7rem;
}
@media (max-width:768px) {
    .sideBar__user p {
    padding-bottom: .5rem;
}
}
.sideBar__user p:last-child {
    font-weight: 400;
    padding-bottom: 3rem;
}
@media (max-width:768px) {
    .sideBar__user p: last-child {
    padding-bottom: 3rem;
}
}
@media (max-width:360px) {
    .sideBar__user p: last-child {
    padding-bottom: 1.5rem;
}
}
.sideBar__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 3.6rem;
    list-style: none;
}
.sideBar__links li {
    opacity: 0;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.5);
    transition: .2s;
}
@media (max-width:768px) {
    .sideBar__links li {
    margin-bottom: 3rem;
    font-size: 1.2rem;
}
}
.sideBar__links li:last-child {
    margin-bottom: 0rem;
}
.sideBar__links li:hover {
    color: #000;
}
.sideBar__links li p input {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}
.sideBar__links li a {
    text-decoration: none;
    color: black;
}
.sideBar__user__edit {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.5);
    padding-right: .5rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    transition: .2s;
}
.sideBar__user__edit:hover {
    color: #000;
}
.sideBar__user__exit {
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
}
.sideBar__user__exit input[type="button"] {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    padding: 1% 15%;
    margin: 0 auto;
    cursor: pointer;
    transition: .1s;
}
.sideBar__user__exit input[type="button"]:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.1);
}
.sideBar-active {
    transform: translateY(0%);
}
@keyframes sideBarLinksFade {
    from {
    opacity: 0;
    transform: translateY(50px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes sideBarLinksUnFade {
    from {
    opacity: 1;
    transform: translateY(0);
}
to {
    opacity: 0;
    transform: translateY(-50px);
}
}
#signForm {
    display: flex;
    flex-direction: column;
    width: 35%;
    background: rgba(78, 78, 78, 0.1);
    padding: 1%;
    border: 2px solid #4E4E4E;
    border-radius: 4px;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation-name: fade;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    visibility: visible !important;
}
@media (max-width:992px) {
    #signForm {
    width: 100%}
}
@media (max-width:360px) {
    #signForm {
    padding: 6%}
}
#signForm input[type="button"] {
    background: transparent;
    border: 1px solid #4E4E4E;
    border-radius: 4px;
    color: #4E4E4E;
    font-size: 2rem;
    padding: 2% 10%;
    margin: 0 auto;
    cursor: pointer;
    transition: .1s;
}
#signForm input[type="button"]:hover {
    background: #4E4E4E;
    color: #fff;
    border: 1px solid #000000;
}
#signForm .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%}
#signForm .block h1 {
    font-size: 2.8rem;
    margin: 0 auto;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 1px solid #4E4E4E;
}
#signForm .block .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
#signForm .block .icon img {
    width: 110px;
}
@media (max-width:768px) {
    #signForm .block .icon img {
    width: 90px;
}
}
@media (max-width:360px) {
    #signForm .block .icon img {
    display: none;
}
}
#signForm .block .login {
    z-index: 5;
    width: 100%;
    height: 3rem;
    color: #000000;
    border: 2px solid #4E4E4E;
    border-radius: 4px;
    font-size: 1.2rem;
    padding-left: 90px;
    margin-left: -70px;
    background: transparent;
}
@media (max-width:768px) {
    #signForm .block .login {
    margin-left: -60px;
}
}
@media (max-width:360px) {
    #signForm .block .login {
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
}
}
@keyframes fade {
    0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
